
html {
    background-color: hsl(162, 30%,  21%);
}

body {
    margin: 0;
    height: var(--vh100);
    overflow-x: hidden;
}

.vh100 {
    height: var(--vh100);
}

a {
    -webkit-tap-highlight-color: transparent;
}




::-webkit-scrollbar {
    width: 0.8em;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(52, 100%, 50%, 0.25);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: hsla(52, 100%, 50%, 0.55);
}

body::-webkit-scrollbar {
    background: hsl(162, 30%,  21%);
}

/* for firefox */
html {
    scrollbar-color: hsla(52, 100%, 50%, 0.25) transparent;
}
.MuiPopover-paper {
    scrollbar-color: hsla(52, 100%, 50%, 0.25) transparent;
}




.MuiPaginationItem-root.Mui-selected {
    font-weight: bold;
}
